<header>
    <h1>Fatores de risco</h1>
</header>
 
<form action="" [formGroup]="patientForm">
    <div class="container">
        <div class="row">
            <mat-form-field appearance="fill" class="t-width">
                <mat-label>Tabagismo</mat-label>
                <mat-select formControlName="smoking">
                  <mat-option [value]=null></mat-option>
                  <mat-option [value]=1>Sim</mat-option>
                  <mat-option [value]=0>Não</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field appearance="fill" class="third-width">
                <mat-label>Etilismo</mat-label>
                <mat-select formControlName="alcoholism">
                  <mat-option [value]=null></mat-option>
                  <mat-option [value]=1>Sim</mat-option>
                  <mat-option [value]=0>Não</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field appearance="fill" class="third-width">
                <mat-label>Outras drogas</mat-label>
                <mat-select formControlName="drugs" multiple>
                  <mat-option *ngFor="let drug of drugx | async" [value]="drug.id">{{drug.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>
        <div class="row">
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Neurocirurgia prévia</mat-label>
                <mat-select formControlName="previousNeurosurgery" multiple>
                    <mat-option *ngFor="let neuro of neurocx | async" [value]="neuro.id">{{neuro.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Exames complementares</mat-label>
                <mat-select formControlName="exams" multiple>
                  <mat-option *ngFor="let exam of examx | async" [value]="exam.id">{{exam.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Medicações em uso no momento do resgistro(separadas por vírgula)</mat-label>
                <input matInput formControlName="medications">
            </mat-form-field>
        </div>
        <div class="row">
            <div class="cid">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Comorbidades</mat-label>
                    <input matInput formControlName="firstDegreeRelative" #dis>
                    <button id="add" type="button" mat-raised-button class="form-btn" (click)="addICD(dis.value)">Add</button>
                </mat-form-field>
            </div>
        </div>
        <div class="row cid">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let comorbitie of familyComorbities; index as i" #linkRef>
                    <span>{{comorbitie.id}}</span>
                    <button class="item-btn" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="removeDisease(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-list-item>
              </mat-list>
        </div> 
        <!-- <div class="row">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>História de doença neurológica em familiar de primeiro grau (separadas por vírgula)</mat-label>
                    <input matInput formControlName="firstDegreeRelative">
                </mat-form-field>
        </div> -->
        <div class="row">
            <button type="button" mat-raised-button class="form-btn" (click)="return()">Voltar</button>
            <button mat-raised-button class="form-btn" (click)="register()">Cadastrar</button>
        </div>
    </div>
</form>
