.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
    flex-shrink: 0;
}

.secondNavLine {
  justify-content: space-between;
}

.content{
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

mat-icon {
    margin-right: 5px;
}

#titulo {
    font-size: 1.5em;
}

.spacer {
    flex: 1 1 auto;
}

.login-btn {
    background-color: #fafafa;
    color: #3f51b5;
}

.header {
    background-color: #3f51b5;
    color: white;
}
  
.sidenav-container {
    position: absolute;
    width: auto;
    height: 300px;
    background-color: white;
  }

.sidenav {
    border-right: 1px solid black;
}


