.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tabela {
    width: 80%;
    height: 100%;
}

table {
    width: 100%;
}

.blueButtons {
    margin: 16px 8px;
    background-color: #3f51b5;
    color: #fafafa;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

#paginator-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#pageIndex {
    width: 50px;
}

#pagination-icons {
    color: grey;
}

/* td, th {
    width: 25%;
} */