<header>
    <h1>Caracteristicas da doença</h1>
</header>

<form action="" [formGroup]="headacheForm">
    <div class="container">
        <div class="row">
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Caracteristica da dor</mat-label>
                <mat-select formControlName="painPattern">
                    <mat-option value="amapa">Holocraniana</mat-option>
                    <mat-option value="amazonas">Unilateral</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <button type="button" mat-raised-button class="form-btn" (click)="return()">Voltar</button>
            <button mat-raised-button class="form-btn" (click)="register()">Cadastrar</button>
        </div>
    </div>
</form>