header {
    text-align: center;
    color: #3f51b5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 50%;
}

mat-form-field {
    width: 100%;
}

mat-list {
    display: flex;
    flex-direction: row;
}

mat-list-item {
    border-radius: 10%;
    background-color: #3f51b5;   
    margin-right: 10px; 
}

mat-list-item span {
    color: #fafafa;
}

.item-btn {
    color: #fafafa;
}