<header>
    <h1>Registrar Paciente</h1>
</header>
  
<form [formGroup]="patientForm">
    <div class="container">
        <div class="row">
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>SAME</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="gender" name="hi">
                  <mat-option [value]=0>Feminino</mat-option>
                  <mat-option [value]=1>Masculino</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" class="half-width">
                <mat-label>Cor</mat-label>
                <mat-select formControlName="color">
                    <mat-option value="null"></mat-option>
                    <mat-option *ngFor="let color of colors | async" [value]="color">{{color.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> 
        <div class="row">
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Estado Civil</mat-label>
                <mat-select formControlName="civilState">
                    <mat-option value="null"></mat-option>
                    <mat-option *ngFor="let civil of civilStates | async" [value]="civil">{{civil.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Escolaridade</mat-label>
                <mat-select formControlName="scholarity" name="hi">
                    <mat-option value="null"></mat-option>
                    <mat-option *ngFor="let scholarity of scholarities | async" [value]="scholarity">{{scholarity.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Profissão</mat-label>
                <input matInput formControlName="job">
            </mat-form-field>
        </div>
        <div class="row">

            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Data de nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Estado de nascimento</mat-label>
                <mat-select formControlName="birthState" (selectionChange)="loadCities()">
                    <mat-option *ngFor="let state of states | async" value="{{state.sigla}}">{{state.nome}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Cidade de Nascimento</mat-label>
                <mat-select formControlName="birthCity">
                    <mat-option *ngFor="let city of citiesByState | async" value="{{city.nome}}">{{city.nome}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
             
            <mat-form-field appearance="fill" class="h-width">
                <mat-label>Cidade de Residência</mat-label>
                <mat-select formControlName="currentCity">
                    <mat-option *ngFor="let city of citiesRS | async; index as i" value="{{city.nome}}">{{city.nome}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="h-width">
                <mat-label>Início do acompanhamento ambulatorial</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="startOutpatientFollowUp">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field> 
        </div>
        <div class="row">
            <mat-form-field appearance="fill" class="h-width">
                <mat-label>Término do acompanhamento ambulatorial (por alta ou outro motivo):</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="endOutpatientFollowUp">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" class="h-width">
                <mat-label>Grupo de Doença</mat-label>
                <mat-select formControlName="diseaseGroup">
                    <mat-option *ngFor="let disease of diseaseGr | async" [value]="disease">{{disease.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="cid">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Comorbidades</mat-label>
                    <input matInput formControlName="cid" #dis>
                    <button id="add" type="button" mat-raised-button class="form-btn" (click)="addICD(dis.value)">Add</button>
                </mat-form-field>
            </div>
        </div>
        <div class="row cid">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let comorbitie of comorbities; index as i" #linkRef>
                    <span>{{comorbitie.id}}</span>
                    <button class="item-btn" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="removeDisease(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-list-item>
              </mat-list>
        </div> 
        <!-- <div class="row">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Doenças (separadas por vírgula)</mat-label>
                <input matInput formControlName="cid">
            </mat-form-field>
        </div> -->
        <button type="button" mat-raised-button class="form-btn" (click)="advance()">Avançar</button>
    </div>
</form>
