<div class="container"> 
    <div class="row">
        <ul>
            <li class="item">
                <span class="list-title">SAME:</span> {{patient.id}}
            </li>
            <li class="item">
                <span class="list-title">Sexo:</span> {{sexo[patient.gender]}}
            </li>
            <li class="item">
                <span class="list-title">Cor:</span> {{patient.color.name}}
            </li>
            
        </ul>   
    </div>
    <div class="row">
        <ul>
            <li class="item">
                <span class="list-title">Estado Civil:</span> {{patient.civilState.name}}
            </li>
            <li class="item">
                <span class="list-title">Escolaridade:</span> {{patient.scholarity.name}}              
            </li>

            <li class="item">
                <span class="list-title">Naturalidade:</span> {{patient.birthState}}
            </li> 
                  
        </ul>    
    </div>
    <div class="row">
        <ul>
            <li class="item">
                <span class="list-title">Cidade onde nasceu:</span> {{patient.birthCity}}
            </li>

            <li class="item">
                <span class="list-title">Local de residência:</span> {{patient.currentCity}}
            </li>  

            <li class="item">
                <span class="list-title">Profissão:</span> {{patient.job}}   
            </li>              
        </ul>         
    </div>
    <div class="row">
        <ul>

            <li class="item">
                <span class="list-title">Data de nascimento:</span> {{patient.birthDate}}
            </li>

            <li class="item">
                <span class="list-title">Início do acompanhamento:</span> {{patient.startOutpatientFollowUp}}
            </li>       
        </ul>     
    </div>
    <div class="row">
        <ul>
            <li class="item">
                <span class="list-title">Término do acompanhamento:</span> {{patient.endOutpatientFollowUp}}
            </li>

            <li class="item">
                <span class="list-title">Grupo da doença:</span> {{patient.diseaseGroup.name}}
            </li>
        </ul> 
    </div>
    <div class="row">
        <ul>
            <li class="item">
                <span class="list-title">Comorbidades:</span> {{patient.comorbities}}
            </li> 

            <li class="item">
                <span class="list-title">Tabagismo:</span> {{bol[patient.smoking]}}  
            </li>
        </ul> 
        <div class="row">
            <ul>
                <li class="item">
                    <span class="list-title">Etilismo:</span> {{bol[patient.alcoholism]}}
                </li>

                <li class="item">
                    <span class="list-title">Outras drogas:</span> {{patient.drugs}}
                </li>

                <li class="item">
                    <span class="list-title">Neurocirurgia prévia:</span> {{patient.previousNeurosurgery}}
                </li>      
            </ul> 
        </div>
        <div class="row">
            <ul>
                <li class="item">
                    <span class="list-title">História familia de doença neurológica:</span> {{patient.firstDegreeRelative}}
                </li>

                <li class="item">
                    <span class="list-title">Exames realizados:</span> {{patient.exams}}
                </li>

                <li class="item">
                    <span class="list-title">Medicações em uso:</span> {{patient.medications}}   
                </li>
            </ul> 
        </div>
    </div>
</div>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Voltar</button>
</mat-dialog-actions>